@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner {
  overflow: hidden;
  position: relative;
}
.banner.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
}
.banner.home-banner::before {
  background: var(--gradient-a);
}
.banner.home-banner .bg {
  height: auto;
}
.banner.home-banner .bg .banner-wrapper {
  position: relative;
  margin: 200px auto 70px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper {
    margin: 120px auto 30px;
  }
}
.banner.home-banner .bg .banner-wrapper .banner-heading {
  position: relative;
  bottom: 40px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .banner-heading {
    bottom: 20px;
  }
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .banner-heading ul {
    justify-content: center;
  }
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: 0.5s ease;
  padding: 11px 17px;
  border-radius: 25px;
  border: 1px solid transparent;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .banner-heading ul li a {
    padding: 8px 13px;
  }
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a figure {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  scale: 0;
  opacity: 0;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2px;
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a.active {
  padding: 11px 17px;
  border-radius: 25px;
  border: 1px solid var(--white);
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .banner-heading ul li a.active {
    padding: 8px 13px;
  }
}
.banner.home-banner .bg .banner-wrapper .banner-heading ul li a.active figure {
  opacity: 1;
  scale: 1;
}
.banner.home-banner .bg .banner-wrapper .flex-box {
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box {
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg .banner-wrapper .flex-box {
    flex-direction: column;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col {
  width: 100%;
  height: 347px;
  max-width: 50%;
  background: var(--white);
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child {
  padding: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row {
  border-radius: 6px;
  border: 1px solid #E0DEDE;
  width: 100%;
  height: 118px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row {
    margin-bottom: 10px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location {
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location figure {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1607843137);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 6px;
  background: var(--white);
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location figure {
    width: 34px;
    height: 34px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .switch-location figure img {
  width: 100%;
  height: 100%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section {
  padding: 20px;
  flex: 0 1 45%;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section:hover {
  background: rgba(241, 228, 255, 0.9882352941);
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section {
    padding: 10px 20px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
  padding-bottom: 15px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: var(--black);
  padding-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-name {
    font-size: 20px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-code {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--text);
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section .location-code {
    font-size: 12px;
    line-height: 1.2;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section:last-child {
  padding: 20px 20px 20px 60px;
  border-left: 1px solid #E0DEDE;
  flex: 0 1 55%;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .location-row .location-section:last-child {
    padding: 10px 10px 10px 30px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row {
  border-radius: 6px;
  border: 1px solid #E0DEDE;
  width: 100%;
  height: 118px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row a:nth-child(3) {
    grid-column: span 2;
    border-top: 1px solid #e0dede;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section {
  padding: 20px;
  transition: 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section {
    padding: 10px 10px 20px 10px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:hover {
  background: rgba(241, 228, 255, 0.9882352941);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .detail-label::before {
  right: 38px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(3) .detail-label::before {
  right: 100px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
  padding-bottom: 15px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-label {
    padding-bottom: 10px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-label::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  border: solid var(--primary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: top;
  margin: 3px 0 0 8px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-label::before {
    right: 0% !important;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value {
  padding-bottom: 10px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value b {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: var(--black);
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value span {
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: var(--black);
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-value span {
    font-size: 16px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section .detail-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(1) {
  flex: 0 1 30%;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) {
  flex: 0 1 30%;
  border-left: 1px solid #E0DEDE;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .detail-text {
  color: #AFAFAF;
  font-size: 12px;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .hide {
  display: none;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .calendar-return {
  position: relative;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .calendar-return .cross-icon {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: var(--white);
  z-index: 1;
  cursor: pointer;
  background: rgba(153, 153, 153, 0.737254902);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.4s ease;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .calendar-return .cross-icon {
    top: 10%;
    left: 80%;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .calendar-return .cross-icon:hover {
  background: #999999;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(2) .calendar-return .cross-icon::before {
  content: "x";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .flight-search-container .details-row .detail-section:nth-child(3) {
  flex: 0 1 60%;
  border-left: 1px solid #E0DEDE;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .search-button {
  background: #E7B806;
  border-radius: 5px;
  padding: 6px 35px;
  gap: 10px;
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid #E7B806;
  transition: 0.5s ease;
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .search-button:hover {
  border: 1px solid #F6E7AD;
  background: #F6E7AD;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:first-child .search-button {
    width: 100%;
    padding: 2px 35px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.5019607843);
  background: #8E41DC;
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide .slide-box {
  height: 310px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide .slide-box {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide .slide-box img {
  border-radius: 10px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide .slide-box img {
    -o-object-fit: fill !important;
       object-fit: fill !important;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide .slide-box img {
    -o-object-fit: contain !important;
       object-fit: contain !important;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  gap: 3px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination {
    height: 40px;
    top: 2px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination span {
  position: relative;
  background-color: white;
  opacity: 1;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.5019607843);
  height: 10px;
  width: 10px;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination span {
    height: 10px;
    width: 10px;
  }
}
.banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination .swiper-pagination-bullet-active, .banner.home-banner .bg .banner-wrapper .flex-box .col:last-child .swiper .swiper-pagination .fill {
  background: var(--white);
  transition: 0.5s ease;
}

.home-secA .flex-box {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box {
    padding: 20px 0 10px 0;
  }
}
.home-secA .flex-box .col:first-child {
  flex: 0 1 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 1024px) {
  .home-secA .flex-box .col:first-child {
    gap: 30px;
    flex: 0 1 70%;
  }
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box .col:first-child {
    justify-content: center;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .col:first-child {
    flex-direction: column;
    gap: 0;
  }
}
.home-secA .flex-box .col:first-child p:nth-child(1) {
  color: rgba(102, 102, 102, 0.5215686275);
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .home-secA .flex-box .col:first-child p:nth-child(1) {
    color: rgba(102, 102, 102, 0.5215686275);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}
.home-secA .flex-box .col:first-child p:nth-child(2) {
  font-size: 40px;
  font-weight: 500;
  color: var(--black);
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .col:first-child p:nth-child(2) {
    font-size: 30px;
  }
}
.home-secA .flex-box .col:first-child p:nth-child(3) {
  color: var(--text);
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .col:first-child p:nth-child(3) {
    font-size: 16px;
  }
}
.home-secA .flex-box .col:last-child {
  flex: 0 1 50%;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .home-secA .flex-box .col:last-child {
    flex: 0 1 50%;
  }
}
.home-secA .flex-box .col:last-child .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-timing-function: linear !important;
}
.home-secA .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-secA .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide figure {
  width: 96px;
  overflow: hidden;
}
.home-secA .flex-box .col:last-child .swiper .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-secB {
  background: #F4EEFA;
  padding: 30px 0;
}
.home-secB .heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.home-secB .heading .col:first-child h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--primary);
  margin: 0;
}
.home-secB .heading .col:first-child p {
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
}
.home-secB .heading .col:last-child .swiper-nav {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 540px) {
  .home-secB .heading .col:last-child .swiper-nav {
    display: none;
  }
}
.home-secB .heading .col:last-child .swiper-nav button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: 0.5s ease;
}
.home-secB .heading .col:last-child .swiper-nav button:hover {
  background: var(--secondary);
}
.home-secB .heading .col:last-child .swiper-nav button:hover svg path {
  fill: var(--white);
}
.home-secB .heading .col:last-child .swiper-nav button svg path {
  fill: var(--secondary);
}
.home-secB .heading .col:last-child .swiper-nav .homesecB-nav-next svg {
  rotate: -180deg;
}
.home-secB .swiper .swiper-wrapper {
  padding: 40px 0;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper {
    padding: 20px 0 10px 0;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.home-secB .swiper .swiper-wrapper .swiper-slide:hover figure img {
  scale: 1.1;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure {
  height: 248px;
  overflow: hidden;
  position: relative;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.46%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure img {
  transition: 0.5s ease;
}
.home-secB .swiper .swiper-wrapper .swiper-slide .content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 30px;
  z-index: 2;
}
.home-secB .swiper .swiper-wrapper .swiper-slide .content p:first-child {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
.home-secB .swiper .swiper-wrapper .swiper-slide .content p:last-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.168627451);
  padding: 35px 20px 20px;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) {
    padding: 15px 10px 10px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left {
    gap: 10px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure {
  width: 44px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure::before {
  content: none;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure:hover img {
  scale: none;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left .info p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left .info p:last-child {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left .info p:last-child {
    font-size: 12px;
    line-height: 1.2;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 25px;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) {
    padding: 15px 10px 10px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left {
    gap: 10px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure {
  width: 44px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure::before {
  content: none;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure:hover img {
  scale: none;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left .info p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left .info p:last-child {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left .info p:last-child {
    font-size: 12px;
    line-height: 1.2;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) {
  padding: 0 25px 35px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 9px;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) {
    padding: 10px 15px 20px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) p {
  color: var(--secondary);
  font-weight: 700;
  font-size: 16px;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) img {
  width: 15px;
  height: 15px;
}

.home-secC {
  padding: 50px 0;
}
@media only screen and (max-width: 540px) {
  .home-secC {
    padding: 30px 0 50px 0;
  }
}
.home-secC .heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 50px;
}
@media only screen and (max-width: 540px) {
  .home-secC .heading {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
  }
}
.home-secC .heading .col:first-child h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--primary);
  margin: 0;
}
.home-secC .heading .col:first-child p {
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
}
.home-secC .heading .col:last-child {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 540px) {
  .home-secC .heading .col:last-child {
    width: 100%;
  }
}
.home-secC .heading .col:last-child li {
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
  transition: 0.5s ease;
  position: relative;
  padding: 5px 0;
}
.home-secC .heading .col:last-child li.active {
  color: var(--secondary);
}
.home-secC .heading .col:last-child li.active::before {
  width: 100%;
}
.home-secC .heading .col:last-child li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  background: var(--secondary);
}
.home-secC .tab-nav-content .tabs {
  transform: translateY(30%);
  opacity: 0;
  transition: 1s ease;
}
.home-secC .tab-nav-content .tabs.active {
  transform: translateY(0%);
  opacity: 1;
}
.home-secC .grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 1024px) {
  .home-secC .grid-box {
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secC .grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home-secC .grid-box .col {
  border-radius: 10px;
  height: 219px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col {
    height: 260px;
  }
}
.home-secC .grid-box .col:hover img {
  scale: 1.04;
}
.home-secC .grid-box .col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.06%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}
.home-secC .grid-box .col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.home-secC .grid-box .col figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 25px;
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col figcaption {
    padding: 0 10px 19px 15px;
  }
}
.home-secC .grid-box .col figcaption h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.home-secC .grid-box .col figcaption p {
  font-weight: 700;
  color: white;
  font-size: 16px;
  line-height: 100%;
}
.home-secC .grid-box .col figcaption p span {
  font-weight: 500;
  font-size: 12px;
}
.home-secC .grid-box .col:nth-child(3) {
  height: 100%;
  grid-row: span 2;
}
@media only screen and (max-width: 540px) {
  .home-secC .grid-box .col:nth-child(3) {
    grid-column: span 2;
  }
}
.home-secC .grid-box .col:nth-child(4) {
  grid-column: span 2;
}
.home-secC .grid-box .col:nth-child(5) {
  grid-column: span 2;
}

.home-secD {
  padding: 50px 0 70px;
  background: #FDECCD;
}
@media only screen and (max-width: 540px) {
  .home-secD {
    padding: 50px 0 40px;
  }
}
.home-secD h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .home-secD h2 {
    font-size: 24px;
    line-height: 1.3;
  }
}
.home-secD .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .home-secD .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home-secD .grid-box .col {
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  background: #FFFFFF;
  padding: 20px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 1024px) {
  .home-secD .grid-box .col {
    height: auto;
  }
}
.home-secD .grid-box .col .flex-box {
  display: flex;
  justify-content: space-between;
}
.home-secD .grid-box .col .flex-box h4 {
  font-weight: 700;
  color: var(--primary);
  font-size: 20px;
  line-height: 25px;
  transition: 0.5s ease;
  max-width: 80%;
  margin-bottom: 10px;
}
.home-secD .grid-box .col .flex-box p {
  color: var(--primary);
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  transition: 0.5s ease;
  margin-bottom: 30px;
}
.home-secD .grid-box .col p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(102, 102, 102, 0.6980392157);
  transition: 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .home-secD .grid-box .col p {
    max-width: 90%;
  }
}
.home-secD .grid-box .col.active {
  background: var(--primary);
}
.home-secD .grid-box .col.active .flex-box h4, .home-secD .grid-box .col.active .flex-box p {
  color: var(--white);
}
.home-secD .grid-box .col.active p {
  color: rgba(255, 255, 255, 0.6980392157);
}
.home-secD .btn2 {
  justify-content: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

.home-secE {
  padding: 40px 0 10px 0;
}
.home-secE .heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media only screen and (max-width: 768px) {
  .home-secE .heading {
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secE .heading .col:first-child {
    text-align: left;
    width: 100%;
  }
}
.home-secE .heading .col:first-child h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--primary);
  margin: 0;
}
.home-secE .heading .col:first-child p {
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
}
.home-secE .heading .col:last-child {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home-secE .heading .col:last-child {
    justify-content: space-between;
    width: 100%;
  }
}
.home-secE .heading .col:last-child .tab-nav {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 540px) {
  .home-secE .heading .col:last-child .tab-nav {
    overflow: auto;
  }
}
.home-secE .heading .col:last-child .tab-nav li {
  font-weight: 500;
  color: var(--text);
  font-size: 16px;
  position: relative;
  padding: 5px 0;
}
@media only screen and (max-width: 540px) {
  .home-secE .heading .col:last-child .tab-nav li {
    white-space: nowrap;
  }
}
.home-secE .heading .col:last-child .tab-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.5s ease;
  background: var(--secondary);
}
.home-secE .heading .col:last-child .tab-nav li.active {
  color: var(--secondary);
}
.home-secE .heading .col:last-child .tab-nav li.active::before {
  width: 100%;
}
.home-secE .heading .col:last-child .tab-nav li:last-child {
  margin-right: 50px;
}
.home-secE .heading .col:last-child .swiper-nav {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 540px) {
  .home-secE .heading .col:last-child .swiper-nav {
    display: none;
  }
}
.home-secE .heading .col:last-child .swiper-nav button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: 0.5s ease;
}
.home-secE .heading .col:last-child .swiper-nav button:hover {
  background: var(--secondary);
}
.home-secE .heading .col:last-child .swiper-nav button:hover svg path {
  fill: var(--white);
}
.home-secE .heading .col:last-child .swiper-nav button svg path {
  fill: var(--secondary);
}
.home-secE .heading .col:last-child .swiper-nav .homesecE-nav-next svg {
  rotate: -180deg;
}
.home-secE .tab-nav-content .tabs {
  transform: translateY(30%);
  opacity: 0;
  transition: 1s ease;
}
.home-secE .tab-nav-content .tabs.active {
  transform: translateY(0%);
  opacity: 1;
}
.home-secE .swiper .swiper-wrapper {
  padding: 40px 0;
}
.home-secE .swiper .swiper-wrapper .swiper-slide {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.home-secE .swiper .swiper-wrapper .swiper-slide:hover figure img {
  scale: 1.1;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figure {
  height: 248px;
  overflow: hidden;
  position: relative;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figure::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.46%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figure img {
  transition: 0.5s ease;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption {
  padding: 20px 20px 30px 20px;
}
@media only screen and (max-width: 540px) {
  .home-secE .swiper .swiper-wrapper .swiper-slide figcaption {
    padding: 20px 20px 20px;
  }
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption h4 {
  font-weight: 700;
  font-size: 20px;
  color: var(--black);
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption p {
  font-weight: 400;
  color: var(--text);
  font-size: 16px;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin-top: 40px;
}
@media only screen and (max-width: 540px) {
  .home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 12px 14px;
  }
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col {
  display: flex;
  align-items: center;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(1) {
  background: var(--secondary);
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(1) span {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(1) img {
  width: 15px;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(3) {
  font-weight: 400;
  color: #666666;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  margin-left: 13px;
  white-space: nowrap;
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(3)::before {
  content: "";
  position: absolute;
  background: #D2D2D2;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
}
.home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(4) {
  grid-column: span 2;
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary);
  justify-content: right;
}
@media only screen and (max-width: 540px) {
  .home-secE .swiper .swiper-wrapper .swiper-slide figcaption .grid-box .col:nth-child(4) {
    font-size: 20px;
  }
}

.home-secF {
  padding: 50px 0 60px 0;
  position: relative;
  background: #F4EEFA;
  overflow: hidden;
}
.home-secF::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 170%;
  top: 140%;
  left: 50%;
  background: var(--white);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 540px) {
  .home-secF .heading {
    text-align: center;
  }
}
.home-secF .heading h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary);
  max-width: 730px;
}
@media only screen and (max-width: 540px) {
  .home-secF .heading h2 {
    font-size: 24px;
    line-height: 1.2;
  }
}
.home-secF .heading p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--text);
  max-width: 971px;
}
.home-secF .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .home-secF .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.home-secF .grid-box .col {
  background: var(--white);
  height: 433px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
@media only screen and (max-width: 1024px) {
  .home-secF .grid-box .col {
    height: auto;
  }
}
.home-secF .grid-box .col .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 25px 20px 15px;
}
.home-secF .grid-box .col .flex-box h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--secondary);
  max-width: 60%;
}
@media only screen and (max-width: 1024px) {
  .home-secF .grid-box .col .flex-box h4 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secF .grid-box .col .flex-box h4 {
    line-height: 1.2;
  }
}
.home-secF .grid-box .col .flex-box figure {
  width: 66px;
  height: 66px;
  overflow: hidden;
}
.home-secF .grid-box .col .flex-box figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secF .grid-box .col ul {
  padding: 20px 40px 10px 40px;
}
@media only screen and (max-width: 1024px) {
  .home-secF .grid-box .col ul {
    padding: 20px 10px 10px 40px;
  }
}
.home-secF .grid-box .col ul li {
  font-weight: 400;
  color: var(--text);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  position: relative;
}
.home-secF .grid-box .col ul li::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 20%;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  background: url("/assets/images/home/first-slider/right-arrow.svg");
}
@media only screen and (max-width: 768px) {
  .home-secF .grid-box .col ul li::before {
    top: 25%;
    left: -2%;
  }
}
@media only screen and (max-width: 540px) {
  .home-secF .grid-box .col ul li::before {
    top: 14%;
    left: -7%;
  }
}
.home-secF .grid-box .col button {
  margin: 0 10px 30px 40px;
}

.home-secG {
  position: relative;
  padding: 50px 0;
}
.home-secG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #FFFFFF 0%, #F4EEFA 100%);
  z-index: -1;
}
.home-secG .heading {
  display: flex;
  justify-content: center;
  position: relative;
}
.home-secG .heading .col:first-child h2 {
  font-weight: 700;
  color: var(--primary);
  font-size: 36px;
  line-height: 30px;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secG .heading .col:first-child h2 {
    font-size: 24px;
    line-height: 1.2;
  }
}
.home-secG .heading .col:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
.home-secG .heading .col:last-child .swiper-nav {
  display: flex;
  gap: 10px;
}
@media only screen and (max-width: 540px) {
  .home-secG .heading .col:last-child .swiper-nav {
    display: none;
  }
}
.home-secG .heading .col:last-child .swiper-nav button {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: 0.5s ease;
}
.home-secG .heading .col:last-child .swiper-nav button:hover {
  background: var(--secondary);
}
.home-secG .heading .col:last-child .swiper-nav button:hover svg path {
  fill: var(--white);
}
.home-secG .heading .col:last-child .swiper-nav button svg path {
  fill: var(--secondary);
}
.home-secG .heading .col:last-child .swiper-nav .homesecG-nav-next svg {
  rotate: -180deg;
}
.home-secG .swiper .swiper-wrapper {
  padding: 50px 0 20px 0;
}
@media only screen and (max-width: 540px) {
  .home-secG .swiper .swiper-wrapper {
    padding: 20px 0px 0px;
  }
}
.home-secG .swiper .swiper-wrapper .swiper-slide {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1019607843);
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.home-secG .swiper .swiper-wrapper .swiper-slide:hover figure img {
  scale: 1.1;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figure {
  height: 313px;
  overflow: hidden;
  position: relative;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figure::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.46%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.home-secG .swiper .swiper-wrapper .swiper-slide .content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 30px;
  z-index: 2;
  width: 100%;
}
.home-secG .swiper .swiper-wrapper .swiper-slide .content .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secG .swiper .swiper-wrapper .swiper-slide .content .flex-box .col:first-child p:first-child {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
}
.home-secG .swiper .swiper-wrapper .swiper-slide .content .flex-box .col:first-child p:last-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.168627451);
  padding: 35px 20px 20px;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure {
  width: 44px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure::before {
  content: none;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure:hover img {
  scale: none;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left .info p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(1) .left .info p:last-child {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 25px;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left {
  display: flex;
  gap: 20px;
  align-items: center;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure {
  width: 44px;
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure::before {
  content: none;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure:hover img {
  scale: none;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left .info p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(2) .left .info p:last-child {
  font-weight: 500;
  font-size: 14px;
  color: var(--text);
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) {
  padding: 0 25px 35px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 9px;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) p {
  color: var(--secondary);
  font-weight: 700;
  font-size: 16px;
}
.home-secG .swiper .swiper-wrapper .swiper-slide figcaption .flex-box .col:nth-child(3) img {
  width: 15px;
  height: 15px;
}

.home-secH {
  background: #EEEEEE;
  padding: 50px 0;
}
@media only screen and (max-width: 1024px) {
  .home-secH {
    padding: 50px 0 100px 0;
  }
}
@media only screen and (max-width: 768px) {
  .home-secH {
    padding: 50px 0 150px;
  }
}
.home-secH .col {
  margin: 0 0 30px 0;
}
.home-secH .col h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  padding: 0 0 8px;
}
.home-secH .col p {
  font-weight: h4;
  color: var(--text);
  font-size: 13px;
  line-height: 18px;
}
.home-secH .flex-box {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .home-secH .flex-box {
    display: initial;
  }
}
.home-secH .flex-box .col {
  flex: 0 1 45%;
}
.home-secH .flex-box .col .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-secH .flex-box .col .heading h4 {
  padding: 0;
  white-space: nowrap;
}
.home-secH .flex-box .col .heading p {
  position: relative;
  width: 77%;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .col .heading p {
    width: 66%;
  }
}
.home-secH .flex-box .col .heading p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2588235294);
}
.home-secH .flex-box .col .grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 40px 0 0 0;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .col .grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home-secH .flex-box .col .grid-box .col {
  border-radius: 5px;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
}
.home-secH .flex-box .col .grid-box .col figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.home-secH .flex-box .col .grid-box .col figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secH .flex-box .col:last-child figure {
  margin: 40px 0 0 0;
}
@media only screen and (max-width: 540px) {
  .home-secH .flex-box .col:last-child figure {
    margin: 20px 0 50px;
  }
}
.home-secH .flex-box .col:last-child figure img {
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=home.css.map */