@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner {
    height: 60vh;
  }
}
.banner.home-banner .bg {
  height: 100%;
}
.banner.home-banner .bg figure {
  height: 100%;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .heading h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .banner-wrapper .heading h1 {
    font-size: 60px;
  }
}

.home-secA {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .home-secA {
    padding: 50px 0 20px 0px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA {
    padding: 0;
  }
}
.home-secA::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(180px);
  border-radius: 50%;
  z-index: -1;
}
.home-secA .flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box {
    flex-direction: column;
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box .flex-box-item:first-child {
    text-align: center;
  }
}
.home-secA .flex-box .flex-box-item:first-child figure {
  width: 397px;
  height: 138px;
  line-height: 0;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box .flex-box-item:first-child figure {
    width: 287px;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .flex-box-item:first-child figure {
    width: 140px;
  }
}
.home-secA .flex-box .flex-box-item:first-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .flex-box-item:first-child p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6980392157);
  max-width: 467px;
  margin: 30px 0 20px 0;
}
@media only screen and (max-width: 768px) {
  .home-secA .flex-box .flex-box-item:first-child p {
    max-width: 80%;
    margin: 30px auto;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .flex-box-item:first-child p {
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
    font-weight: normal;
  }
}
.home-secA .flex-box .flex-box-item:first-child a {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(90deg, #3853A3 19.23%, #55A5D9 66.83%, #57DDE6 94.23%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.home-secA .flex-box .flex-box-item:first-child a figure {
  width: 16px;
  height: 16px;
  line-height: 1;
  display: inline-block;
  margin-left: 5px;
}
.home-secA .flex-box .flex-box-item:first-child a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secA .flex-box .flex-box-item:last-child .col {
  width: 431px;
  height: 157px;
  border-radius: 10px;
  background: var(--gradient-b);
  padding: 20px 80px 20px 20px;
  margin-bottom: 20px;
  margin-left: auto;
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .flex-box-item:last-child .col {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    padding: 30px;
  }
}
.home-secA .flex-box .flex-box-item:last-child .col h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .home-secA .flex-box .flex-box-item:last-child .col h4 {
    margin-bottom: 10px;
  }
}
.home-secA .flex-box .flex-box-item:last-child .col p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 16px;
  line-height: 1.2;
}

.home-secB {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .home-secB {
    padding: 50px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .home-secB {
    padding: 30px 0 0;
  }
}
.home-secB::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(180px);
  border-radius: 50%;
  z-index: -1;
}
.home-secB::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 20%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(180px);
  border-radius: 50%;
  z-index: -1;
}
.home-secB .heading {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .home-secB .heading h2 {
    max-width: 435px;
  }
}
.home-secB .swiper {
  margin: 50px 0 0px 0;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper {
    margin: 20px 0 0px;
  }
}
.home-secB .swiper .bottom-nav {
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 177px;
  margin: 40px auto 1px;
}
.home-secB .swiper .swiper-pagination {
  color: var(--white);
  pointer-events: none;
}
.home-secB .swiper .swiper-pagination span {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}
.home-secB .swiper .swiper-wrapper .swiper-slide a:hover figure img {
  scale: 1.1;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure {
  position: relative;
  border-radius: 10px;
  line-height: 0;
  overflow: hidden;
  height: 400px;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  z-index: 1;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
  z-index: -1;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure h3 {
  position: absolute;
  padding: 20px 30px;
  top: 0;
  right: 0;
  font-family: Roobert;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.2;
  color: var(--white);
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  align-items: self-end;
}
@media only screen and (max-width: 540px) {
  .home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption {
    padding: 30px 20px;
  }
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption .left h4 {
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 7px;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption .left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6980392157);
  max-width: 580px;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption .right {
  width: 41px;
  height: 41px;
  border-radius: 50px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.home-secB .swiper .swiper-wrapper .swiper-slide figure figcaption .right svg {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home-secC {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .home-secC {
    padding: 50px 0 20px 0;
  }
}
.home-secC::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 351px;
  height: 351px;
  background: #104AF7;
  filter: blur(210px);
  border-radius: 50%;
  z-index: -1;
}
.home-secC .flex-box {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 50px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box {
    flex-direction: column;
    gap: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box {
    padding: 0;
  }
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
.home-secC .flex-box .flex-box-item:first-child {
  width: 455px;
  height: 428px;
  position: 1;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-box-item:first-child {
    height: 378px;
    width: 100%;
  }
}
.home-secC .flex-box .flex-box-item:first-child figure .up-im {
  width: 453px;
  height: 382px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 2;
  animation: floatUpDown 3s ease-in-out infinite;
  will-change: transform;
  top: 30px;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:first-child figure .up-im {
    height: 343px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-box-item:first-child figure .up-im {
    width: 100%;
  }
}
.home-secC .flex-box .flex-box-item:first-child figure .lw-im {
  position: absolute;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:first-child figure .lw-im {
    width: 100%;
  }
}
.home-secC .flex-box .flex-box-item:last-child {
  max-width: 521px;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child {
    max-width: 90%;
  }
}
.home-secC .flex-box .flex-box-item:last-child .heading {
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child .heading {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.home-secC .flex-box .flex-box-item:last-child .heading::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 3px;
  width: 60px;
  background: #1B9BD5;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-box-item:last-child .heading::before {
    display: none;
  }
}
.home-secC .flex-box .flex-box-item:last-child .heading h3 {
  font-weight: 300;
  font-size: 48px;
  line-height: 1;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child .heading h3 {
    margin: 10px auto 10px;
  }
}
.home-secC .flex-box .flex-box-item:last-child .heading h3::before {
  content: "R";
  position: absolute;
  top: 0;
  right: -20%;
  border-radius: 50%;
  border: 2px solid var(--white);
  width: 25px;
  height: 25px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-secC .flex-box .flex-box-item:last-child .heading p {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child .heading p {
    text-align: center;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-box-item:last-child .heading p {
    max-width: 80%;
    margin: auto;
  }
}
.home-secC .flex-box .flex-box-item:last-child .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin: 30px 0 30px 0;
  color: rgba(255, 255, 255, 0.6980392157);
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child .description {
    text-align: center;
  }
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper {
  position: relative;
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper .swiper-slide {
  padding: 14px 0 20px 20px;
  background: var(--white);
  border-radius: 5px;
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper .swiper-slide h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper .swiper-slide p {
  color: rgba(0, 0, 0, 0.6980392157);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
}
@media only screen and (max-width: 540px) {
  .home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper-nav {
    width: 120%;
  }
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper-nav button {
  transition: 0.5s ease;
}
.home-secC .flex-box .flex-box-item:last-child .product-swiper .swiper-nav .swiper-button-disabled {
  opacity: 0;
}
.home-secC .flex-box .flex-box-item:last-child a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 768px) {
  .home-secC .flex-box .flex-box-item:last-child a {
    margin: 40px auto 0;
  }
}
.home-secC .flex-box .flex-box-item:last-child a::after {
  background: #020d2b;
}
.home-secC .flex-box .flex-box-item:last-child a:hover::before {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: var(--white);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.home-secC .flex-box .flex-box-item:last-child a::before {
  content: attr(data);
  background: var(--gradient-b);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.home-secC .flex-box .flex-box-item:last-child a figure {
  width: 16px;
  height: 16px;
}
.home-secC .flex-box .flex-box-item:last-child a figure svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secC .flex-box .flex-box-item:last-child a figure svg path {
  fill: var(--secondary);
}

.home-secD {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .home-secD {
    padding: 20px 0 50px 0;
  }
}
.home-secD::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #104AF7;
  filter: blur(220px);
  border-radius: 50%;
  z-index: -1;
}
.home-secD .heading {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 540px) {
  .home-secD .heading {
    max-width: 80%;
    margin: auto;
  }
}
.home-secD .swiper {
  margin: 60px 0 40px 0;
}
@media only screen and (max-width: 768px) {
  .home-secD .swiper {
    margin: 30px 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secD .swiper {
    margin: 30px 0 10px;
  }
}
.home-secD .swiper .bottom-nav {
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 177px;
  margin: 40px auto 0;
}
.home-secD .swiper .swiper-pagination {
  color: var(--white);
  pointer-events: none;
}
.home-secD .swiper .swiper-pagination span {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
}
.home-secD .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(174, 174, 174, 0.1490196078);
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  transition: 0.5s ease;
}
.home-secD .swiper .swiper-wrapper .swiper-slide:hover {
  background: #55A5D9;
  border: 1px solid #3853A3;
}
.home-secD .swiper .swiper-wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 80%;
  width: 85px;
  height: 85px;
  transform: translate(-50%, -50%);
  background: white;
  filter: blur(60px);
  border-radius: 50%;
  z-index: -1;
}
.home-secD .swiper .swiper-wrapper .swiper-slide::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  width: 85px;
  height: 85px;
  transform: translate(-50%, -50%);
  background: white;
  filter: blur(60px);
  border-radius: 50%;
  z-index: -1;
}
.home-secD .swiper .swiper-wrapper .swiper-slide .maincard {
  padding: 20px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.home-secD .swiper .swiper-wrapper .swiper-slide figure {
  width: 60px;
  height: 60px;
  line-height: 0;
  margin: auto;
  margin-bottom: 20px;
}
.home-secD .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secD .swiper .swiper-wrapper .swiper-slide h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}/*# sourceMappingURL=home.css.map */