@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.product-banner::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 71.15%, #000000 100%), linear-gradient(360deg, rgba(0, 0, 0, 0) 64.42%, rgba(0, 0, 0, 0.85) 100%);
}
@media only screen and (max-width: 768px) {
  .banner.product-banner {
    height: 70vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.product-banner {
    height: 60vh;
  }
}
.banner.product-banner .bg {
  height: 100%;
}
.banner.product-banner .bg figure {
  height: 100%;
}
.banner.product-banner .banner-wrapper {
  bottom: 34%;
}
@media only screen and (max-width: 1024px) {
  .banner.product-banner .banner-wrapper {
    bottom: 12%;
  }
}
.banner.product-banner .banner-wrapper .heading h3 {
  font-weight: 600;
  font-size: 20px;
}
@media only screen and (max-width: 540px) {
  .banner.product-banner .banner-wrapper .heading h3 {
    font-size: 18px;
    max-width: 75%;
    margin: auto;
  }
}
@media only screen and (max-width: 540px) {
  .banner.product-banner .banner-wrapper .heading h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.product-secA {
  padding: 50px 0 50px 0;
  overflow: hidden;
}
@media only screen and (max-width: 540px) {
  .product-secA {
    padding: 0 0 50px 0;
  }
}
.product-secA .flex-box1 {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 {
    flex-direction: column;
    gap: 20px;
    padding: 50px 0 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box1 {
    padding: 30px 0 20px;
  }
}
.product-secA .flex-box1::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 351px;
  height: 351px;
  background: #3853A3;
  filter: blur(160px);
  border-radius: 50%;
  z-index: -1;
}
.product-secA .flex-box1 .flex-box-item figure {
  width: 522px;
  height: 318px;
  line-height: 0;
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box1 .flex-box-item figure {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.product-secA .flex-box1 .flex-box-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-secA .flex-box1 .flex-box-item .heading {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 .flex-box-item .heading {
    margin: 0px auto 20px;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}
.product-secA .flex-box1 .flex-box-item .heading::before {
  content: "";
  position: absolute;
  bottom: -12%;
  left: 0;
  width: 65px;
  height: 3px;
  background: #1B9BD5;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 .flex-box-item .heading::before {
    content: none;
  }
}
.product-secA .flex-box1 .flex-box-item .heading h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.2;
  margin: initial;
  text-align: left;
  max-width: initial;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 .flex-box-item .heading h2 {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box1 .flex-box-item .heading h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.product-secA .flex-box1 .flex-box-item .heading p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 18px;
  line-height: 1.1;
}
.product-secA .flex-box1 .flex-box-item .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  max-width: 511px;
  color: rgba(255, 255, 255, 0.6980392157);
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 .flex-box-item .desc {
    text-align: center;
  }
}
.product-secA .flex-box1 .flex-box-item .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box1 .flex-box-item .btn {
    margin: 30px auto 0;
  }
}
.product-secA .flex-box1 .flex-box-item .btn:hover::before {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: var(--white);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.product-secA .flex-box1 .flex-box-item .btn::before {
  content: attr(data);
  background: var(--gradient-b);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.product-secA .flex-box1 .flex-box-item .btn figure {
  width: 16px;
  height: 16px;
}
.product-secA .flex-box1 .flex-box-item .btn figure svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-secA .flex-box1 .flex-box-item .btn figure svg path {
  fill: var(--secondary);
}
.product-secA .flex-box2 {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 50px 0 20px 0;
  }
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box2 {
    padding: 30px 0 20px;
  }
}
.product-secA .flex-box2::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 351px;
  height: 351px;
  background: #3853A3;
  filter: blur(160px);
  border-radius: 50%;
  z-index: -1;
}
.product-secA .flex-box2 .flex-box-item figure {
  width: 522px;
  height: 318px;
  border-radius: 10px;
  overflow: hidden;
  line-height: 0;
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box2 .flex-box-item figure {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.product-secA .flex-box2 .flex-box-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-secA .flex-box2 .flex-box-item .heading {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 .flex-box-item .heading {
    margin: 0px auto 20px;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
  }
}
.product-secA .flex-box2 .flex-box-item .heading::before {
  content: "";
  position: absolute;
  bottom: -12%;
  left: 0;
  width: 65px;
  height: 3px;
  background: #1B9BD5;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 .flex-box-item .heading::before {
    content: none;
  }
}
.product-secA .flex-box2 .flex-box-item .heading h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.2;
  margin: initial;
  text-align: left;
  max-width: initial;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 .flex-box-item .heading h2 {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .product-secA .flex-box2 .flex-box-item .heading h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.product-secA .flex-box2 .flex-box-item .heading p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 18px;
  line-height: 1.1;
}
.product-secA .flex-box2 .flex-box-item .desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  max-width: 511px;
  color: rgba(255, 255, 255, 0.6980392157);
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 .flex-box-item .desc {
    text-align: center;
  }
}
.product-secA .flex-box2 .flex-box-item .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .product-secA .flex-box2 .flex-box-item .btn {
    margin: 30px auto 0;
  }
}
.product-secA .flex-box2 .flex-box-item .btn:hover::before {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: var(--white);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.product-secA .flex-box2 .flex-box-item .btn::before {
  content: attr(data);
  background: var(--gradient-b);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease;
}
.product-secA .flex-box2 .flex-box-item .btn figure {
  width: 16px;
  height: 16px;
}
.product-secA .flex-box2 .flex-box-item .btn figure svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-secA .flex-box2 .flex-box-item .btn figure svg path {
  fill: var(--secondary);
}

.banner.product-detail-banner {
  position: relative;
  z-index: 1;
}
.banner.product-detail-banner::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 59.13%), linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 77.33%);
}
@media only screen and (max-width: 1024px) {
  .banner.product-detail-banner .bg {
    height: 80vh;
  }
}
.banner.product-detail-banner .bg figure {
  height: 100%;
}
.banner.product-detail-banner .banner-wrapper {
  bottom: 5%;
  z-index: 1;
}
.banner.product-detail-banner .banner-wrapper::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 450px;
  height: 450px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(130px);
  border-radius: 50%;
  z-index: -1;
}
.banner.product-detail-banner .banner-wrapper .heading {
  margin-bottom: 90px;
}
@media only screen and (max-width: 1024px) {
  .banner.product-detail-banner .banner-wrapper .heading {
    margin: 0;
  }
}
.banner.product-detail-banner .banner-wrapper .heading h1 {
  font-weight: 600;
  font-size: 68px;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 540px) {
  .banner.product-detail-banner .banner-wrapper .heading h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
.banner.product-detail-banner .banner-wrapper .heading h3 {
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .banner.product-detail-banner .banner-wrapper .heading h3 {
    font-size: 18px;
    max-width: 75%;
    margin: 0 auto 30px;
  }
}
.banner.product-detail-banner .banner-wrapper .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 540px) {
  .banner.product-detail-banner .banner-wrapper .head {
    margin: 0 0 10px 0;
  }
}
.banner.product-detail-banner .banner-wrapper .head h3 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #49BAC2;
}
.banner.product-detail-banner .banner-wrapper .head .swiper-nav {
  gap: 10px;
  display: flex;
}
.banner.product-detail-banner .banner-wrapper .head .swiper-nav button {
  width: 30px;
  height: 30px;
}
.banner.product-detail-banner .banner-wrapper .head .swiper-nav button:hover svg path {
  stroke: var(--primary);
}
.banner.product-detail-banner .banner-wrapper .head .swiper-nav button svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner.product-detail-banner .banner-wrapper .head .swiper-nav button svg path {
  transition: 0.5s ease;
}
.banner.product-detail-banner .banner-wrapper .swiper .swiper-slide {
  height: 152px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.banner.product-detail-banner .banner-wrapper .swiper .swiper-slide p {
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6980392157);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.product-details-secA {
  padding: 50px 0 30px 0;
  position: relative;
  z-index: 1;
  margin: auto;
}
@media only screen and (max-width: 540px) {
  .product-details-secA {
    padding: 50px 0 0 0;
  }
}
.product-details-secA::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 85%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(160px);
  border-radius: 50%;
  z-index: -1;
}
@media only screen and (max-width: 1024px) {
  .product-details-secA::before {
    position: absolute;
    top: 60%;
    left: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .product-details-secA::before {
    top: 80%;
    left: 70%;
  }
}
@media only screen and (max-width: 540px) {
  .product-details-secA::before {
    left: 50%;
  }
}
.product-details-secA::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 40%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(160px);
  border-radius: 50%;
  z-index: -1;
}
.product-details-secA .heading h2 {
  max-width: 400px;
  font-size: 38px;
}
@media only screen and (max-width: 540px) {
  .product-details-secA .heading h2 {
    font-size: 28px;
  }
}
.product-details-secA figure {
  width: 798px;
  height: 453px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  line-height: 0;
  margin: 50px auto 0;
}
@media only screen and (max-width: 1024px) {
  .product-details-secA figure {
    width: 85%;
    margin: 50px auto 0;
  }
}
@media only screen and (max-width: 540px) {
  .product-details-secA figure {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.product-details-secA figure::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  aspect-ratio: 1;
  background: rgba(0, 0, 0, 0.3019607843);
}
.product-details-secA figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details-secA figure .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-details-secA figure .play-button .play-btn {
  background: var(--white);
}
.product-details-secA figure .play-button .play-btn::after {
  border-left: calc(var(--btnsize) / 5.6) solid #1B9BD5;
}

.product-details-secB {
  padding: 50px 0;
  position: relative;
  z-index: 1;
}
.product-details-secB .heading h2 {
  font-size: 38px;
}
@media only screen and (max-width: 540px) {
  .product-details-secB .heading h2 {
    font-size: 28px;
  }
}
.product-details-secB .flex-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 50px 0 0 0;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .product-details-secB .flex-box {
    flex-direction: column;
    gap: 0px;
  }
}
.product-details-secB .flex-box .flex-box-item {
  flex: 0 1 50%;
}
.product-details-secB .flex-box .flex-box-item:first-child figure {
  width: 586px;
  height: 357px;
}
@media only screen and (max-width: 1024px) {
  .product-details-secB .flex-box .flex-box-item:first-child figure {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.product-details-secB .flex-box .flex-box-item:first-child figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details-secB .flex-box .flex-box-item:last-child ul {
  border-left: 1px solid #3853A3;
  padding: 50px 0 30px 0;
}
@media only screen and (max-width: 540px) {
  .product-details-secB .flex-box .flex-box-item:last-child ul {
    margin: 0 0px 0 10px;
  }
}
.product-details-secB .flex-box .flex-box-item:last-child ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6980392157);
  max-width: 394px;
  margin-bottom: 20px;
  padding-left: 50px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .product-details-secB .flex-box .flex-box-item:last-child ul li {
    max-width: 600px;
  }
}
@media only screen and (max-width: 540px) {
  .product-details-secB .flex-box .flex-box-item:last-child ul li {
    padding-left: 30px;
  }
}
.product-details-secB .flex-box .flex-box-item:last-child ul li:last-child {
  margin: 0;
}
.product-details-secB .flex-box .flex-box-item:last-child ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -9px;
  width: 17px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(0deg, #9F2FFF 0%, #0BB1D3 100%);
}
.product-details-secB .flex-box .flex-box-item:last-child ul li strong {
  color: var(--white);
  font-weight: 700;
}

.product-detail-secC {
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 50px 0 70px 0;
  border-radius: 15px;
  position: relative;
}
@media only screen and (max-width: 540px) {
  .product-detail-secC {
    padding: 30px 0;
  }
}
.product-detail-secC::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
  background: #104AF7;
  filter: blur(200px);
  border-radius: 50%;
  z-index: -1;
}
.product-detail-secC .heading figure {
  width: 131px;
  height: 45px;
  line-height: 0;
  margin: 20px auto 15px;
}
.product-detail-secC .heading figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-detail-secC .heading h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
  max-width: 280px;
  margin: auto;
}
.product-detail-secC .form {
  margin: 30px 0 10px 0;
  --gaptb: 20px;
  --item: 2;
  max-width: 620px;
  margin: 50px auto 0;
}
@media only screen and (max-width: 540px) {
  .product-detail-secC .form {
    margin: 30px auto 0;
    --item: 1;
  }
}
.product-detail-secC .form .btn2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 0;
}

.product-detail-secD {
  padding: 50px 0;
}
.product-detail-secD .container {
  max-width: 1240px;
}
@media only screen and (max-width: 1024px) {
  .product-detail-secD .container {
    max-width: 940px;
  }
}
@media only screen and (max-width: 540px) {
  .product-detail-secD .container .heading h2 {
    font-size: 34px;
  }
}
.product-detail-secD .more-product-swiper {
  padding: 50px 0 50px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .product-detail-secD .more-product-swiper {
    padding: 50px 0 0 0;
  }
}
@media only screen and (max-width: 540px) {
  .product-detail-secD .more-product-swiper {
    padding: 30px 0 0 0;
  }
}
.product-detail-secD .more-product-swiper .swiper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107%;
}
@media only screen and (max-width: 1024px) {
  .product-detail-secD .more-product-swiper .swiper-nav {
    width: 110%;
  }
}
@media only screen and (max-width: 768px) {
  .product-detail-secD .more-product-swiper .swiper-nav {
    display: none;
  }
}
.product-detail-secD .more-product-swiper .swiper-nav button {
  transition: 0.5s ease;
}
.product-detail-secD .more-product-swiper .swiper-nav .swiper-button-disabled {
  opacity: 0;
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item:hover figure img {
  scale: 1.2;
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item figure {
  height: 318px;
  overflow: hidden;
  border-radius: 10px;
  line-height: 0;
}
@media only screen and (max-width: 768px) {
  .product-detail-secD .more-product-swiper .swiper .grid-box-item figure {
    height: 300px;
  }
}
@media only screen and (max-width: 540px) {
  .product-detail-secD .more-product-swiper .swiper .grid-box-item figure {
    height: 200px;
  }
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s ease;
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item figcaption {
  padding: 20px 0 20px 0px;
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item figcaption h3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--white);
}
@media only screen and (max-width: 540px) {
  .product-detail-secD .more-product-swiper .swiper .grid-box-item figcaption h3 {
    font-size: 26px;
  }
}
.product-detail-secD .more-product-swiper .swiper .grid-box-item figcaption p {
  color: rgba(255, 255, 255, 0.6980392157);
}/*# sourceMappingURL=product.css.map */