@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.service-banner::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 71.15%, #000000 100%), linear-gradient(360deg, rgba(0, 0, 0, 0) 64.42%, rgba(0, 0, 0, 0.85) 100%);
}
.banner.service-banner .banner-wrapper {
  bottom: 34%;
}
.banner.service-banner .banner-wrapper .heading h3 {
  font-weight: 600;
  font-size: 20px;
}

.service-secA {
  padding: 60px 0;
  position: relative;
  z-index: 1;
}
.service-secA::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(180px);
  border-radius: 50%;
  z-index: -1;
}
.service-secA::after {
  content: "";
  position: absolute;
  top: 90%;
  left: 84%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(180px);
  border-radius: 50%;
  z-index: -1;
}
.service-secA .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.service-secA .grid-box .grid-box-item {
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1019607843);
  transition: 0.5s ease;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-secA .grid-box .grid-box-item:hover {
  background: linear-gradient(90deg, #3853A3 19.23%, #55A5D9 66.83%, #57DDE6 94.23%);
}
.service-secA .grid-box .grid-box-item:hover .main-icon svg path {
  fill: var(--white);
}
.service-secA .grid-box .grid-box-item:hover .content figure {
  margin: 60px 0 0 auto;
  scale: 1;
}
.service-secA .grid-box .grid-box-item .main-icon {
  height: 54px;
  width: 54px;
}
.service-secA .grid-box .grid-box-item .main-icon img, .service-secA .grid-box .grid-box-item .main-icon svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.service-secA .grid-box .grid-box-item .main-icon img path, .service-secA .grid-box .grid-box-item .main-icon svg path {
  fill: #55A5D9;
  transition: 0.5s ease;
}
.service-secA .grid-box .grid-box-item .content h4 {
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
}
.service-secA .grid-box .grid-box-item .content p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 16px;
  line-height: 22px;
}
.service-secA .grid-box .grid-box-item .content figure {
  height: 41px;
  width: 41px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px 0 0 auto;
  scale: 0;
  transition: 0.5s ease;
}
.service-secA .grid-box .grid-box-item .content figure svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner.service-detail-banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 34.8%, rgba(0, 0, 0, 0.7019607843) 171.8%), linear-gradient(360deg, rgba(0, 0, 0, 0) 59.46%, rgba(0, 0, 0, 0.4) 90.86%);
}
.banner.service-detail-banner .bg figure {
  height: 100%;
  width: 100%;
}
.banner.service-detail-banner .bg figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner.service-detail-banner .bg .banner-wrapper {
  bottom: 35%;
}
.banner.service-detail-banner .bg .banner-wrapper .heading {
  max-width: 600px;
  text-align: left;
}
.banner.service-detail-banner .bg .banner-wrapper .heading h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  margin-bottom: 15px;
}
.banner.service-detail-banner .bg .banner-wrapper .heading h3 {
  font-weight: 600;
  color: var(--white);
  font-size: 16px;
}

.service-detail-secA {
  background: linear-gradient(90deg, #222222 0%, #050829 100%);
  overflow: hidden;
}
.service-detail-secA .flex-box {
  justify-content: space-between;
  gap: 20px;
}
.service-detail-secA .flex-box .flex-box-item:first-child {
  flex: 0 1 230px;
}
.service-detail-secA .flex-box .flex-box-item:first-child h4 {
  color: #57DDE6;
  font-weight: 600;
  font-size: 16px;
  padding: 30px 0;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper {
  position: relative;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper .swiper-slide {
  padding: 30px 20px 30px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.1607843137);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper .swiper-slide h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--white);
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper .swiper-slide p {
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 1.1;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper-nav button {
  transition: 0.5s ease;
}
.service-detail-secA .flex-box .flex-box-item .product-swiper .swiper-nav .swiper-button-disabled {
  opacity: 0;
}

.service-detail-secB {
  padding: 70px 0;
}
.service-detail-secB .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.service-detail-secB .flex-box .flex-box-item:first-child {
  flex: 1;
  z-index: 1;
  position: relative;
}
.service-detail-secB .flex-box .flex-box-item:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(220px);
  border-radius: 50%;
  z-index: -1;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content {
  max-width: 980px;
  margin: auto;
  padding: 0 0 50px 0;
}
@media only screen and (max-width: 540px) {
  .service-detail-secB .flex-box .flex-box-item:first-child .content {
    max-width: 90%;
  }
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h1 {
  font-size: 48px;
  margin-bottom: 25px;
  margin: 50px 0;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h2 {
  font-size: 28px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 30px 0 20px 0;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 30px 0 10px 0;
  color: #ffffff;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h4 {
  font-weight: 500;
  margin: 30px 0 10px 0;
  color: #ffffff;
  font-size: 20px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h5 {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content h6 {
  font-size: 15px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content p, .service-detail-secB .flex-box .flex-box-item:first-child .content li {
  color: rgba(255, 255, 255, 0.6980392157);
  text-align: justify;
  font-size: 16px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content a {
  color: var(--text);
}
.service-detail-secB .flex-box .flex-box-item:first-child .content a:hover {
  text-decoration: underline;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content p {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6980392157);
}
.service-detail-secB .flex-box .flex-box-item:first-child .content ul {
  margin-bottom: 20px;
  padding-left: 35px;
}
@media only screen and (max-width: 540px) {
  .service-detail-secB .flex-box .flex-box-item:first-child .content ul {
    padding-left: 0;
  }
}
.service-detail-secB .flex-box .flex-box-item:first-child .content ul li {
  position: relative;
  padding-left: 35px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(0deg, #9F2FFF 0%, #0BB1D3 100%);
}
.service-detail-secB .flex-box .flex-box-item:first-child .content ul li h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 30px 0 10px 0;
  color: #ffffff;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content li {
  position: relative;
  padding-left: 35px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content li:not(:last-child) {
  margin-bottom: 6px;
}
.service-detail-secB .flex-box .flex-box-item:first-child .content li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(0deg, #9F2FFF 0%, #0BB1D3 100%);
}
.service-detail-secB .flex-box .flex-box-item:last-child {
  width: 355px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1019607843);
  position: sticky;
  top: 100px;
  z-index: 1;
}
.service-detail-secB .flex-box .flex-box-item:last-child::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #3853A3;
  filter: blur(220px);
  border-radius: 50%;
  z-index: -1;
}
.service-detail-secB .flex-box .flex-box-item:last-child .heading figure {
  width: 131px;
  height: 45px;
  line-height: 0;
  margin: 20px auto 15px;
}
.service-detail-secB .flex-box .flex-box-item:last-child .heading figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.service-detail-secB .flex-box .flex-box-item:last-child .heading h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: var(--white);
  text-align: center;
}
.service-detail-secB .flex-box .flex-box-item:last-child .form {
  margin: 30px 0 10px 0;
  --gaptb: 15px;
}
.service-detail-secB .flex-box .flex-box-item:last-child .form .btn2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 0;
}

.service-detail-secC {
  position: relative;
  z-index: 1;
}
.service-detail-secC::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  width: 351px;
  height: 351px;
  transform: translate(-50%, -50%);
  background: #104AF7;
  filter: blur(260px);
  border-radius: 50%;
  z-index: -1;
}
.service-detail-secC .container {
  max-width: 1240px;
}
.service-detail-secC .more-services-swiper {
  padding: 50px 0 100px 0;
  position: relative;
}
.service-detail-secC .more-services-swiper .swiper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107%;
}
.service-detail-secC .more-services-swiper .swiper-nav button {
  transition: 0.5s ease;
}
.service-detail-secC .more-services-swiper .swiper-nav .swiper-button-disabled {
  opacity: 0;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item {
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1019607843);
  transition: 0.5s ease;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item:hover {
  background: linear-gradient(90deg, #3853A3 19.23%, #55A5D9 66.83%, #57DDE6 94.23%);
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item:hover .main-icon svg path {
  fill: var(--white);
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item:hover .content figure {
  margin: 60px 0 0 auto;
  scale: 1;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .main-icon {
  height: 54px;
  width: 54px;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .main-icon img, .service-detail-secC .more-services-swiper .swiper .grid-box-item .main-icon svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .main-icon img path, .service-detail-secC .more-services-swiper .swiper .grid-box-item .main-icon svg path {
  fill: #55A5D9;
  transition: 0.5s ease;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .content h4 {
  font-weight: 700;
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .content p {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6980392157);
  font-size: 16px;
  line-height: 22px;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .content figure {
  height: 41px;
  width: 41px;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px 0 0 auto;
  scale: 0;
  transition: 0.5s ease;
}
.service-detail-secC .more-services-swiper .swiper .grid-box-item .content figure svg {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=service.css.map */