@import '../_var'

.banner
    &.about-banner
        &::before
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%),linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(180deg, rgba(0, 0, 0, 0) 71.15%, #000000 100%),linear-gradient(360deg, rgba(0, 0, 0, 0) 64.42%, rgba(0, 0, 0, 0.85) 100%) 
        @include media(768)
            height: 70vh
        @include media(540)
            height: 60vh
        .bg
            height: 100%
            figure
                height: 100%
        .banner-wrapper
            bottom: 34%
            @include media(540)
                bottom: 15%
            .heading
                h3
                    font-weight: 600
                    font-size: 20px
                    @include media(540)
                        font-size: 18px
                        max-width: 75%
                        margin: auto
                h1
                    @include media(540)
                        font-size: 50px
                        margin-bottom: 10px
.about-secA
    padding: 100px 0
    position: relative
    z-index: 1
    @include media(768)
        padding: 0
    &::before
        content: ""
        position: absolute
        top: 130%
        left: 50%
        width: 351px
        height: 351px
        transform: translate(-50%,-50%)
        background: #3853A3
        filter: blur(180px)
        border-radius: 50%
        z-index: -1
    .flex-box
        display: flex
        justify-content: space-around
        align-items: center
        @include media(768)
            flex-direction: column
            gap: 30px
        .flex-box-item:first-child
            figure
                width: 397px
                height: 138px
                line-height: 0
                @include media(768)
                    width: 287px
                    height: fit-content
                    line-height: 0
                    margin: auto
                @include media(540)
                    width: 140px
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
        .flex-box-item:last-child
            .content
                p
                    font-weight: 600
                    color: #FFFFFFB2
                    font-size: 16px
                    line-height: 1.3
                    max-width: 493px
                    margin-bottom: 20px
                    @include media(768)
                        max-width: 80%
                        margin: 10px auto
                        text-align: center
                    @include media(540)
                        max-width: 100%
                        margin: 10px auto
                        text-align: center
                        font-weight: normal
                
.about-secB
    padding: 50px 0
    position: relative
    z-index: 1
    @include media(768)
        padding: 50px 0 0 0
    &::before
        content: ""
        position: absolute
        top: 80%
        left: 80%
        width: 351px
        height: 351px
        transform: translate(-50%,-50%)
        background: #3853A3
        filter: blur(180px)
        border-radius: 50%
        z-index: -1
        @include media(768)
            left: 50%
    .heading
        h2
            max-width: 714px
            font-weight: 600
            font-size: 80px
            line-height: 1.1
            @include media(768)
                font-size: 34px
                max-width: 50%
                margin: auto
            @include media(540)
                max-width: 100%
            span
                color: #57DDE6
    .flex-box
        display: flex
        justify-content: center
        gap: 30px
        align-items: center
        margin: 70px 0 0 0
        @include media(1024)
            justify-content: space-between
        @include media(768)
            margin: 30px 0 0 0
        @include media(540)
            flex-direction: column

        .flex-box-item
            padding: 30px
            border-radius: 10px
            height: 309px
            width: 494px
            position: relative
            background: #FFFFFF1A
            overflow: hidden
            @include media(540)
                width: 100%
                height: fit-content
            &::before
                content: ""
                position: absolute
                top: 80%
                left: 80%
                width: 85px
                height: 85px
                transform: translate(-50%,-50%)
                background: white
                filter: blur(60px)
                border-radius: 50%
                z-index: -1
            &::after
                content: ""
                position: absolute
                top: 20%
                left: 20%
                width: 85px
                height: 85px
                transform: translate(-50%,-50%)
                background: white
                filter: blur(60px)
                border-radius: 50%
                z-index: -1
            figure
                width: 58px
                height: 58px
                line-height: 0
                margin-left: auto
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
            .content
                margin-top: 20px
                h4
                    font-weight: 600
                    font-size: 24px
                    line-height: 1.2
                    color: $white
                    margin-bottom: 5px
                p
                    font-weight: 500
                    font-size: 16px
                    line-height: 1.2
                    color: #FFFFFFB2
                    max-width: 362px

.about-secC
    padding: 50px 0 100px 0
    position: relative
    z-index: 1
    @include media(768)
        padding: 60px 0
    .container
        max-width: 1180px
    &::before
        content: ""
        position: absolute
        top: 90%
        left: 50%
        width: 351px
        height: 351px
        transform: translate(-50%,-50%)
        background: #104AF7
        filter: blur(270px)
        border-radius: 50%
        z-index: -1
    .our-work-swiper
        position: relative
        padding: 50px 0 0
        @include media(768)
            padding: 30px 0 0 0
        .swiper-slide
            a
                display: inline-block
                padding: 60px 20px
                border-radius: 10px
                border: 1px solid #FFFFFF33
                height: 298px
                transition: 0.5s ease
                &:hover
                    border: 1px solid #55A5D9
                    
            h3
                font-weight: 700
                font-size: 36px
                line-height: 1.2
                text-align: center
                margin-bottom: 25px
                background-image: linear-gradient(90deg, #3853A3 19.23%,  #57DDE6 74.23%) 
                background-clip: text
                -webkit-background-clip: text
                color: transparent
                -webkit-text-fill-color: transparent
            h4
                color: $white
                font-weight: 600
                font-size: 20px
                line-height: 1.2
                text-align: center
                max-width: 206px
                margin: auto
                margin-bottom: 10px
            p
                font-weight: 400
                font-size: 16px
                line-height: 20px
                text-align: center
                color: #FFFFFFB2
        .swiper-nav
            display: flex
            justify-content: space-between
            align-items: center
            position: absolute
            top: 60%
            left: 50%
            transform: translate(-50%,-50%)
            width: 107%
            @include media(540)
                display: none
            button
                transition: 0.5s ease
            .swiper-button-disabled
                opacity: 0