@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.item.projectCard {
  overflow: hidden;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  border-radius: 15px;
}
.item.projectCard:hover figcaption {
  transform: translateY(0);
}
.item.projectCard:hover figure img {
  transform: scale(1.2);
}
.item.projectCard::before {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.item.projectCard figure img {
  transition: 0.5s ease;
}
.item.projectCard figcaption {
  background-color: var(--white);
  width: 90%;
  right: 0;
  left: unset;
  padding: 25px;
  border-radius: 15px 0 0 0;
  transform: translateY(60%);
  transition: 0.5s ease;
}
.item.projectCard figcaption h6 {
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .item.projectCard figcaption h6 {
    font-size: 16px;
  }
}
.item.projectCard figcaption p {
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  padding-bottom: 20px;
}
.item.projectCard .sector {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 10%;
  top: 5%;
  z-index: 1;
}
.item.projectCard .sector img {
  width: 35px;
}
.item.projectCard .sector h6 {
  font-size: 14px;
  line-height: 1.2;
  color: var(--white);
}

.blogCard {
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
}
.blogCard::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.blogCard:hover figure img {
  transform: scale(1.2);
}
.blogCard figcaption {
  padding: 0 20px 30px;
}
.blogCard figcaption h6 {
  font-size: 14px;
  line-height: 1.2;
  color: var(--white);
  padding-bottom: 10px;
}
.blogCard figcaption p {
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}
@media only screen and (max-width: 768px) {
  .blogCard figcaption p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .blogCard figcaption p {
    font-size: 16px;
  }
}

.no-record-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.no-record-container .not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no-record-container .not-found img {
  width: 120px;
  filter: hue-rotate(337deg);
}
.no-record-container .not-found h3 {
  color: var(--black);
}
.no-record-container .not-found p {
  color: var(--black);
  padding-bottom: 10px;
}

.page-not-found-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.page-not-found-container .not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page-not-found-container .not-found img {
  width: 120px;
  filter: hue-rotate(337deg);
}
.page-not-found-container .not-found h3 {
  color: var(--black);
}
.page-not-found-container .not-found p {
  color: var(--black);
  padding-bottom: 10px;
}

.global-container {
  position: relative;
  max-width: 100%;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .global-container {
    margin-top: 50px;
  }
}
.global-container .map-image {
  width: 100%;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
}
@media only screen and (max-width: 768px) {
  .global-container .map-image {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.global-container .pointer {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 50%;
  border: 1px solid var(--primary);
  cursor: pointer;
  transform: translate(-50%, -50%);
  animation: blink 2s forwards 0.2s infinite;
}
@media only screen and (max-width: 768px) {
  .global-container .pointer {
    width: 8px;
    height: 8px;
  }
}
.global-container .pointer:hover span {
  opacity: 1;
}
.global-container .pointer::before {
  content: "";
  position: absolute;
  left: -12px;
  bottom: -11px;
  width: 21px;
  padding: 15px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--primary);
}
@media only screen and (max-width: 768px) {
  .global-container .pointer::before {
    left: -9px;
    bottom: -9px;
    width: 10px;
    height: 10px;
    padding: 10px;
  }
}
.global-container .pointer.point1 {
  right: 32%;
  top: 40%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point1 {
    right: 19%;
    top: 35%;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point1 {
    right: 26%;
  }
}
.global-container .pointer.point2 {
  right: 22%;
  top: 27%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point2 {
    right: 8%;
    top: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point2 {
    right: 14%;
    top: 18%;
  }
}
.global-container .pointer.point3 {
  right: 40%;
  top: 22%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point3 {
    right: 26%;
    top: 6%;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point3 {
    right: 37%;
    top: 10%;
  }
}
.global-container .pointer.point4 {
  right: 45%;
  top: 40%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point4 {
    right: 38%;
    top: 31;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point4 {
    right: 44%;
    top: 36%;
  }
}
.global-container .pointer.point5 {
  right: 42%;
  top: 60%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point5 {
    right: 39%;
    top: 60%;
  }
}
.global-container .pointer.point6 {
  bottom: 36%;
  left: 35%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point6 {
    bottom: 29%;
    left: 21%;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point6 {
    left: 29%;
  }
}
.global-container .pointer.point7 {
  top: 34%;
  left: 28%;
}
@media only screen and (max-width: 991px) {
  .global-container .pointer.point7 {
    top: 16%;
    left: 10%;
  }
}
@media only screen and (max-width: 768px) {
  .global-container .pointer.point7 {
    top: 28%;
    left: 18%;
  }
}
.global-container .pointer span {
  background-color: var(--primary);
  padding: 4px 20px;
  border-radius: 5px;
  color: var(--white);
  position: absolute;
  bottom: 100%;
  left: -100%;
  transform: translate(-30%, -80%);
  opacity: 0;
  transition: 0.5s ease;
  --triangle: 10px;
}
@media only screen and (max-width: 768px) {
  .global-container .pointer span {
    bottom: 60%;
    transform: translate(-38%, -60%);
  }
}
.global-container .pointer span::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - var(--triangle) / 2);
  left: 50%;
  translate: -50% 0;
  width: var(--triangle);
  height: var(--triangle);
  background: var(--primary);
  transform: rotate(45deg);
  z-index: -1;
}/*# sourceMappingURL=component.css.map */