@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.service-slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.service-slider .swiper {
  width: 100%;
  height: 100%;
}
.service-slider .swiper-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 8%;
  right: 4%;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .service-slider .swiper-nav {
    gap: 10px;
  }
}
.service-slider .swiper-nav button {
  background: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--black);
}
@media only screen and (max-width: 768px) {
  .service-slider .swiper-nav button {
    width: 30px;
    height: 30px;
  }
}
.service-slider .swiper-nav button.swiper-button-disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.service-slider .swiper-nav button svg {
  vertical-align: middle;
}
.service-slider .main-card {
  width: 100%;
  height: 100%;
  padding: 10px 30px 30px;
  background: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.6588235294);
  cursor: pointer;
  display: flex;
  align-items: end;
  overflow: hidden;
  position: relative;
  position: relative;
}
.service-slider .main-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.95) 100%);
}
.service-slider .main-card::before {
  border-radius: 20px;
}
@media only screen and (max-width: 991px) {
  .service-slider .main-card {
    padding: 10px 15px 30px;
  }
}
@media only screen and (max-width: 540px) {
  .service-slider .main-card {
    border-right: 0;
  }
}
.service-slider .main-card:hover .content {
  transform: translateY(0);
}
.service-slider .main-card:hover .content h2::before {
  opacity: 1;
}
.service-slider .main-card .content {
  transition: 1s ease;
  transform: translateY(86%);
}
@media only screen and (max-width: 991px) {
  .service-slider .main-card .content {
    transform: translateY(88%);
  }
}
@media only screen and (max-width: 540px) {
  .service-slider .main-card .content {
    transform: translateY(0%);
  }
}
.service-slider .main-card .content h2 {
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 10px;
  color: var(--white);
  position: relative;
  transition: 0.5s ease;
}
@media only screen and (max-width: 991px) {
  .service-slider .main-card .content h2 {
    font-size: 23px;
  }
}
@media only screen and (max-width: 540px) {
  .service-slider .main-card .content h2 {
    padding-bottom: 0;
  }
}
.service-slider .main-card .content h2::before {
  content: "";
  width: 62px;
  height: 4px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
}
.service-slider .main-card .content ul {
  padding: 20px 0 20px 25px;
  max-height: 200px;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .service-slider .main-card .content ul {
    max-height: 195px;
  }
}
@media only screen and (max-width: 540px) {
  .service-slider .main-card .content ul {
    padding: 15px 0 15px 25px;
  }
}
.service-slider .main-card .content ul li {
  position: relative;
  padding-bottom: 5px;
  color: var(--white);
}
.service-slider .main-card .content ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 12px;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
}/*# sourceMappingURL=travelcard.css.map */